.selectFieldLabel {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  font-weight: bold;
}

.selectFieldLabel .selectGame {
  margin-top: 20px;
  width: 100%;
  border: 1px solid rgb(204, 204, 204);
  padding: 10px;
  border-radius: 5px;
}

.selectFieldLabel .selectWithError {
  margin-top: 20px;
  width: 100%;
  border: 1px solid rgb(242, 64, 40);
  padding: 10px;
  border-radius: 5px;
}

.errorMessage {
  margin-top: 0.3rem;
  color: #f24028;
  font-size: 0.9rem;
  font-weight: 1rem;
}
